<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	 <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Olimpia.Nuget.NextGenID" value="https://pkgs.dev.azure.com/olimpiait/6e3b86ce-c60d-444a-a998-7cb1ee1c6f26/_packaging/Olimpia.Nuget.NextGenID/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Olimpia.Nuget.NextGenID>
      <add key="Username" value="UploadArtifact" />
      <add key="ClearTextPassword" value="7plAzkf3S1Ls5RaXkDGkALYQAhlqCrl5sfLoaKBKbVRtnt5wdaTiJQQJ99BJACAAAAAeoxEIAAASAZDO1AO8" />
    </Olimpia.Nuget.NextGenID>
  </packageSourceCredentials>
</configuration>