.progress-bar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0.5rem 1rem;
}

.progress-step {
    display: flex;
    background: var(--gray-100);
    border-radius: 20px;
    height: 6px;
    justify-content: space-between;
    flex: 1;
    margin-right: 12px;
}

.progress-step:last-child {
    margin-right: 0;
}



@media screen and (min-width: 1024px) {
    .progress-bar {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0.5rem 0;
    }

}