:host {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --vh: 100%;
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;

}

@media (max-width: 600px) {
  :root {
    --vh: 100dvh;
  }
}
