<app-content>
    @defer(when displayTitle() || displayDescription()){
    <app-title [firstname]="firstname()" [configTitle]="contentTitle()"
        [configDescription]="contentDescription()"></app-title>
    } @defer(when displayImg()){
    <app-img [config]="image_content()"></app-img>
    }
    @defer(when displaySubtitle() || displayParagraph()){
    <app-subtitle [configSubtitle]="contentSubtitle()" [confiParagraph]="contentParagraph()"></app-subtitle>
    } @defer(when bulletDisplay()){
    <app-bullets [bullet_list]="bullet_list()"></app-bullets>
    }
</app-content>