<div class="close-screen-wrapper ">
  <div class="close-screen-container">
    <span class="material-symbols-rounded warning-icon skeleton"  translate="no" [style.color]="getColorIcons()">info</span>
    <h1 class="skeleton" appTitle [typeTitleDefaul]="'Title'">Validación finalizada</h1>
    <p  class="skeleton" appTitle [typeTitleDefaul]="'Description'">
      El proceso actual ha finalizado correctamente.<br />
      Por motivos de seguridad, esta pantalla ya no se encuentra activa.
    </p>
    <p  class="skeleton" appTitle [typeTitleDefaul]="'Description'">
      Si desea continuar, deberá iniciar un nuevo flujo de validación desde el inicio del sistema.
    </p>
  </div>
</div>